#body-register{
    min-height: 90vh;
    animation: name;
    animation-duration: 2s;
    opacity: 1;
   }
   
   .form-register{
       text-align: left !important;
   }
   
   .form-register label{
       margin-top: 3%;
   }
   
   .title-card{
       font-size: 150%;
       font-weight: 500;
   }
   
   .create-account{
       color: rgb(69, 69, 241);
       cursor: pointer;
       transition: 0.5s ease;
   }
   
   .create-account:hover{
       opacity: 0.5;
   }

@keyframes name{
    0%{
        opacity: 0;
    }
}