<div class="body-home">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="card card-hilmi">
          <div class="container-img">
            <img src="../assets/images/HILMI.jpg" alt="hilmi-img" class="hilmi-img">
            <p class="btn-dark btn-sm card-skill" data-toggle="modal" data-target="#exampleModal">What's skill?</p>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Skill/Technology Ever Using</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    HTML/CSS, Bootstrap, <br /> Javascript, Java, Dart, <br /> Android Studio, React JS, React Native,
                    <br /> Flutter, Vue JS, Angular JS, Node JS, <br /> JSON API, Postman, <br /> Heroku, Netlify, Firebase.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="card-name">Hilmi Arizal Santoso</div>
            <p class="card-text">I'm Fullstack Web Developer!</p>
            <div class="btn btn-primary btn-sm mr-2">Set your code to be a simple!</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  