<div>
  <mat-toolbar color="primary" id="app-toolbar">
    <button mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>
    <span>MY APPLICATION</span>
    <span class="example-spacer"></span>
    <div class="btn-group">
      <mat-icon class="account-icon" aria-hidden="false" aria-label="Example user verified icon" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">account_circle</mat-icon>
      <div class="dropdown-menu dropdown-menu-right">
        <div routerLink="/login" class="login-item">Login</div>
        <div routerLink="/register" class="register-item">Register</div>
      </div>
    </div>
  </mat-toolbar>
  <div class="body-app">
    <div class="text-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
